<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.web2.mapper.PhotoMapper">

    <insert id="createPhoto">
        INSERT INTO Photo (albumId, title, url, thumbnailUrl)
        VALUES (#{albumId}, #{title}, #{url}, #{thumbnailUrl})
    </insert>

    <select id="getAllPhoto" resultType="com.study.web2.vo.PhotoVo">
        SELECT id, albumId, title, url, thumbnailUrl
        FROM Photo
        <where>
            <if test="albumId != null">
                albumId = #{albumId}
            </if>
            <if test="title != null">
                AND title LIKE CONCAT('%', #{title}, '%')
            </if>
        </where>
        ORDER BY id DESC
        LIMIT #{numOfRows} OFFSET #{pageNum}
    </select>

    <select id="countPhoto" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM Photo
        <where>
            <if test="albumId != null">
                albumId = #{albumId}
            </if>
            <if test="title != null">
                AND title LIKE CONCAT('%', #{title}, '%')
            </if>
        </where>
    </select>

    <select id="getPhotoById" resultType="com.study.web2.vo.PhotoVo">
        SELECT id, albumId, title, url, thumbnailUrl
        FROM Photo
        WHERE id = #{id}
    </select>

    <update id="updatePhoto">
        UPDATE Photo
        SET title = #{title},
            url = #{url},
            thumbnailUrl = #{thumbnailUrl}
        WHERE id = #{id}
    </update>

    <delete id="deletePhoto">
        DELETE FROM Photo
        WHERE id = #{id}
    </delete>

</mapper>