<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.web2.mapper.TodoMapper">

    <insert id="createTodo">
        INSERT INTO Todo (userId, title, completed)
        VALUES (#{userId}, #{title}, #{completed})
    </insert>

    <select id="getAllTodo" resultType="com.study.web2.vo.TodoVo">
        SELECT id, userId, title, completed
        FROM Todo
        <where>
            <if test="userId != null">
                userId = #{userId}
            </if>
            <if test="title != null">
                AND title LIKE CONCAT('%', #{title}, '%')
            </if>
            <if test="completed != null">
                AND completed = #{completed}
            </if>
        </where>
        ORDER BY id DESC
        LIMIT #{numOfRows} OFFSET #{pageNum}
    </select>

    <select id="countTodo" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM Todo
        <where>
            <if test="userId != null">
                userId = #{userId}
            </if>
            <if test="title != null">
                AND title LIKE CONCAT('%', #{title}, '%')
            </if>
            <if test="completed != null">
                AND completed = #{completed}
            </if>
        </where>
    </select>

    <select id="getTodoById" resultType="com.study.web2.vo.TodoVo">
        SELECT id, userId, title, completed
        FROM Todo
        WHERE id = #{id}
    </select>

    <update id="updateTodo">
        UPDATE Todo
        SET title = #{title},
            completed = #{completed}
        WHERE id = #{id}
    </update>

    <delete id="deleteTodo">
        DELETE FROM Todo
        WHERE id = #{id}
    </delete>

</mapper>