<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.web2.mapper.UserMapper">

    <insert id="createUser">
        INSERT INTO User (name, username, email, password, address, phone, website, company)
        VALUES (#{name}, #{username}, #{email}, #{password}, #{address}, #{phone}, #{website}, #{company})
    </insert>

    <select id="getAllUser" resultType="com.study.web2.vo.UserVo">
        SELECT id, name, username, email, password, address, phone, website, company
        FROM User
        <where>
            <if test="username != null">
                username LIKE CONCAT('%', #{username}, '%')
            </if>
            <if test="email != null">
                AND email LIKE CONCAT('%', #{email}, '%')
            </if>
        </where>
        ORDER BY id DESC
        LIMIT #{numOfRows} OFFSET #{pageNum}
    </select>

    <select id="countUser" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM User
        <where>
            <if test="username != null">
                username LIKE CONCAT('%', #{username}, '%')
            </if>
            <if test="email != null">
                AND email LIKE CONCAT('%', #{email}, '%')
            </if>
        </where>
    </select>

    <select id="getUserById" resultType="com.study.web2.vo.UserVo">
        SELECT id, name, username, email, password, address, phone, website, company
        FROM User
        WHERE id = #{id}
    </select>

    <update id="updateUser">
        UPDATE User
        SET name = #{name},
            username = #{username},
            email = #{email},
            password = #{password},
            address = #{address},
            phone = #{phone},
            website = #{website},
            company = #{company}
        WHERE id = #{id}
    </update>

    <delete id="deleteUser">
        DELETE FROM User
        WHERE id = #{id}
    </delete>

</mapper>